.cartTotal{
  background-color: white;
  width: 100%;
  padding-bottom: 30px;
  &__title{
    padding: 30px 30px 20px;
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }

  &__totalItemPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    color: rgba(231, 66, 106, 1);
    border-top: 1px solid  rgba(237, 237, 240, 1);
    border-bottom: 1px solid  rgba(237, 237, 240, 1);
    padding: 15px 30px;
  }
  &__span{
    color: rgba(41, 41, 41, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
  }
  &__promo{
    display: flex;
    align-items: center;
    padding: 20px 30px;

  }

  &__button{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    border: none;
    padding: 11px 15px 11px;
    background: rgba(231, 66, 106, 1);
    cursor: pointer;
  }

  &__input{
    border: 1px solid  rgba(237, 237, 240, 1);
    background: rgba(247, 247, 247, 1);
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10px;
    padding: 8px 0 10px 8px;
  }

  &__btn{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    border: none;
    padding: 15px 50px;
    background: rgba(231, 66, 106, 1);
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
  }
}