.firstSection{
  &__flex{
    display: flex;
    gap: 30px;
    align-items: self-start;
  }
  &__navigate{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
  }

  &__color{
    color: rgb(192, 191, 191);
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    transition: all ease-in-out 0.3s;
  }

  &__color:hover{
    color: rgba(78, 157, 211, 1);
  }

  &__title{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    padding: 27px 0 9px;
    margin-bottom: 50px;
  }
}