.kitsSection{
  &__nav{
    color: rgb(120, 120, 120);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    transition: all ease-in-out 0.3s;
}
&__nav:hover{
  color: rgba(78, 157, 211, 1);
}

&__navLink{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    color: rgba(78, 157, 211, 1);
}
&__navigate{
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 41px 0 22px;
}
&__title{
    color: rgba(41, 41, 41, 1);
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
}
}