.fifthSection{
  &__card{
    width: 370px;
  }
  &__text{
    border: 1px solid rgba(237, 237, 240, 1);
    border-radius: 0 0 5px 5px;
    background: rgba(255, 255, 255, 1);
    position: relative;
    top: -5px;
    padding: 20px;
  }

  &__name{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 10px 0;
  }
  &__date{
    color: rgba(150, 150, 150, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
  }

  &__subtitle{
    color:  rgb(122, 122, 122);
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
  }
  &__title{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0 0 40px 0;
  }

  &__news{
    display: flex;
    align-items: center;
    gap: 29px;
  }

  &__btn{
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    background-color: transparent;
    border: 1px solid rgba(78, 157, 211, 1);
    border-radius: 3px;
    padding: 17px 49px 18px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }
}