.macaronShop{
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  &__since{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }

  &__realLove{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 42px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px 0 10px;
  }
  &__subtitle{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  &__line{
    border-bottom: 1.5px solid black;
    width: 29px;
  }
}