.cardBase {
  position: relative;
  padding: 40px;
  overflow: hidden;
  max-width: 570px;
  height: 260px;
  width: 100%;
  transition: all ease-in-out 0.3s;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &__image {
    margin: 0 auto;
    display: block;
  }

  &__title {
    color: rgba(41, 41, 41, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    padding: 20px 0 10px;
  }

  &__subtitle {
    color: rgba(41, 41, 41, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
}

.cardFirst {
  @extend .cardBase;
  background: #ffdbc3;

  &::before {
    background: #ffe3d7;
    clip-path: polygon(100% 0, 0 100%, 0 0);
  }
}

.cardSecond {
  @extend .cardBase;
  background: #ffd8e8;

  &::before {
    background: #ffe4f1;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }
}

.cardThird {
  @extend .cardBase;
  background: rgb(224, 255, 224);

  &::before {
    background: rgb(204, 248, 204);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }
}

.cardFourth {
  @extend .cardBase;
  background: rgb(255, 221, 221);

  &::before {
    background: rgb(253, 233, 233);
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
  }
}
.secondSection{
  margin: 60px 0 0;

  &__content{
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
  }
}

.cardBase:hover{
  transform: translateY(-15px);
}

.secondSection__link{
  display: block;
  max-width: 570px;
  width: 100%;
}
