.sixthSection{
  &__name{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 29px 0 11px;
  }
  &__subtitle{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
  }

  &__title{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
  }

  &__cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 29px;
  }
}