.itemPageSection{
  &__content{
    display: flex;
    gap: 20px;
  }
  &__title{
    color: rgba(41, 41, 41, 1);
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
  }
  &__subtitle{
  color: rgba(41, 41, 41, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    padding: 11px 0 21px;
  }
  &__ul{
    background: white;
    padding: 20px;
    width: 570px;
    border: 1px solid rgba(237, 237, 240, 1);
    border-radius: 5px;
  }
  &__image{
    width: 550px;
    height: 430px;
  }
  &__taste{
    color: rgba(41, 41, 41, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding-bottom: 10px;
  }
  &__tastes{
    display: flex;
    justify-content: space-between;
  }
  &__line{
    border-bottom: 1px dashed rgba(237, 237, 240, 1);
    width: 100%;
    margin-bottom: 11px;
  }
  &__li{
    color: rgba(41, 41, 41, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    padding-bottom: 5px;
  }

  &__count{
    text-align: center;
    width: 20px;
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px;
    width: 570px;
    border: 1px solid rgba(237, 237, 240, 1);
    border-radius: 5px;
    margin-top: 10px;
  }
  &__btn{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    border-radius: 3px;
    background: rgba(231, 66, 106, 1);
    border: 1px solid rgba(231, 66, 106, 1);
    padding: 14px 38px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  &__btn:hover{
    background: transparent;
    color: rgba(231, 66, 106, 1);
  }

  &__price{
    color: rgba(231, 66, 106, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
  }
  &__navigate{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
  }
  &__nav{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    color: rgb(134, 134, 134);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  &__nav:hover{
    color: rgba(78, 157, 211, 1);
  }
  &__navHover{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    color: rgba(78, 157, 211, 1);
  }
}