.footer{
  background: rgba(235, 237, 238, 1);
  padding: 56px 0 ;
  margin-top: 67px;

  &__leftBlock{
    text-align: center;
  }

  &__leftBlockText{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0%;
    padding-top: 10px;
  }

  &__leftGarant{
    display: flex;
    align-items: self-start;
    gap: 37px;
  }

  &__leftImage{
    width: 44px;
    height: 44px;
  }

  &__leftBottom{
    color: rgba(41, 41, 41, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    padding-top: 28px;
  }

  &__content{
    display: flex;
    align-items: self-start;
    justify-content: space-between;
  }

  &__middleBlockText{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 550;
    line-height: 19px;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding-bottom: 18px;
  }

  &__middleBlockLink{
    color: rgba(41, 41, 41, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    padding-bottom: 12px;
  }

  &__middle{
    display: flex;
    align-items: self-start;
    gap: 50px;
  }

  &__rightPhone{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
  }

  &__rightTime{
    color: var(--#292929, rgba(41, 41, 41, 1));
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: right;
  }

  &__rightSocials{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 70px;
  }

}