.headerBottom {
  padding: 20px 0;
  background-color: white;
  margin-bottom: 40px;

  &__flex {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  &__title {
    color: rgba(43, 20, 20, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
    cursor: pointer;
    border: none;
    background: transparent;
    position: relative;
  }
  
  &__span {
    background: rgba(231, 66, 106, 1);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__modal{
    position: absolute;
    top: 230px;
    right: 320px;
    background: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    border: 1px solid gainsboro;
    color: black;
    z-index: 2;

  }

  &__category{
    padding: 15px 20px;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }

  &__category:hover{
    background: rgb(235, 235, 235);
  }
}
