*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.container{
  max-width: 1168px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  background: rgba(247, 247, 247, 1);
}


html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

